<div>
  <h2>Your form inputs for student</h2>
  <h4>Name</h4>
  <h3>
    <%= @Name %>
  </h3>
  <h4>Hometown</h4>
  <h3>
    <%= @Hometown %>
  </h3>
  <h4>Hobby</h4>
  <h3>
    <%= @Hobby %>
  </h3>
</div>
